<h1>New Vehicle</h1>

<form (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="make">Make</label>
        <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make" name="make">
            <option value=""></option>
            <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <select id="model" class="form-control" name="model">
            <option value=""></option>
            <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
        </select>
    </div>

    <p>Is this vehicle registered?</p>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="registered" name="isRegistered" class="custom-control-input" value="true" >
        <label class="custom-control-label" for="registered">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="notRegistered" name="isRegistered" class="custom-control-input" value="false">
        <label class="custom-control-label" for="notRegistered">No</label>
    </div>

    <h2>Features</h2>
    <div *ngFor="let f of features" class="form-group form-check">
        <input class="form-check-input" type="checkbox" id="feature{{ f.id }}">
        <label class="form-check-label" for="feature{{ f.id }}">
             {{ f.name }}
        </label>
    </div>

    <h2>Contact</h2>
    <div class="form-group">
        <label for="contactName">Name</label>
        <input type="text" class="form-control" id="contactName" name="contactName" >
    </div>
    <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input type="text" class="form-control" id="contactPhone" name="contactPhone" >
    </div>
    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input type="email" class="form-control" id="contactEmail" name="contactEmail">
    </div>
    <button class="btn btn-primary">Save</button>

</form>